.App {
  text-align: center;
}
.review{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-bottom: 30px;
  margin-left: 40px;
  
}
.cityInfo{
  display: flex;
  justify-content:space-around;
  color:green
}
.reviewDiv{
  margin: 20px;
}
